{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body style="padding: 20px;">
<h2 style="padding:5px">Machine Reception</h2>
<div class="displaytabel">

    <form id="search" class="search" method="post" action="/" style="width: 60%; padding-bottom: 10px;">
        {%csrf_token%}
       
        <input id="MN" type='text' name='MN' placeholder='MN' style="border: none; background-color: rgb(224, 224, 224); border-radius: 10px; padding-left: 8px;" />
      
        <input id="MRC" type='text' name='MRC' placeholder='MRC' style="border: none; background-color: rgb(224, 224, 224); border-radius: 10px; padding-left: 8px;"  />
        
        <!-- <input type="submit" value="Search"/> -->
      </form>

      <table id="table" class="table table-striped  table-hover" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Machine Number</th>
            <th scope="col">Technicain Name</th>
            <th scope="col">Shelf</th>
          </tr>
        </thead>
        <tbody id="tablebody">
          {%for machine in machine %}
          <tr>
            <td scope="row">{{machine.MN}}</td>
            <td>{{machine.MRC}}</td>
            <td>{{machine.technician_name}}</td>
            <td>{{machine.shelf}}</td>
          </tr>
          {%endfor%}
        
        
        </tbody>
      </table>

</div>


<script>

$(document).ready(function() {
  // Function to send AJAX request and update the table
  function filterTable() {
      // Get the values from the form inputs
      var mn = $('#MN').val();
      var mrc = $('#MRC').val();

      // Send an AJAX request to the server
      $.ajax({
          url: "{% url '' %}", 
          type: "POST",
          data: {
              'MN': mn,
              'MRC': mrc,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
              // Clear the existing table rows
               $('#tablebody').empty();

              // Append new rows with the filtered data
              response.machine.forEach(function(machine) {
                  $('#tablebody').append(
                      `<tr>
                          <th scope="row">${machine.MN}</th>
                          <td>${machine.MRC}</td>
                          <td>${machine.technician_name}</td>
                          <td>${machine.shelf}</td>
                      </tr>`
                  );
              });
          },
          error: function(xhr, status, error) {
              console.error("AJAX Error: " + status + error);
          }
      });

      console.log('The quick brown fox jumpign'+mn)
      
  }

  // Attach an event listener to the input fields
  $('#MN, #MRC').on('input', function() {
      filterTable(); // Call the filter function on every keystroke
  });
});
</script>


</body>




</html>